<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div> 
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>EDUCACIÓN PRIMARIA: </h1> 
                <h3>Colegio Nuestra Señora de la Consolata (2006-2013)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>EDUCACIÓN SECUNDARIA: BACHILLER EN EDUCACIÓN FÍSICA</h1> | 
                <h3>Colegio Nuestra Señora de la Consolata (2013-2018)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>INSTITUTO GASTRONÓMICO: IGA</h1>
                <h3>´REALIZADO’ « Chef Express » (2021)</h3>
            </li>
        </ul>
    </div>

</div>
