<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div> 
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Ayudante de Cocina</h1> | 
                <h3>Eventual (2021-2022)</h3>
            </li>
            <p><span>Tareas realizadas</span><br>
                 •	Limpiar, cortar y pelar verduras.
                •	Mezclar ingredientes.
                •	Orden y revisión de las cámaras de carne, verduras y producción.
                •	Apoyo en el despacho.
                </p>
        </ul>
        <ul>
            <li>
                <h1>CLUB BOCA JUNIORS BERMEJO </h1> | 
                <h3>Preparador Físico - pasantías (2018)</h3>
            </li>
            <p> <span>Tareas realizadas</span><br>
                 •	Coordinación y orden de actividades de grupos deportivos.
                 •	Preparación física.
                 </p>
        </ul>
    </div>

</div>
