<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div> 
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Ayudante de Cocina</h1> | 
                <h3>Eventual (2021-2022)</h3>
            </li>
            
            <div class="row row-sm-cols-1 row-md-cols-2 col-sm-10 col-md-10 col-lg-10 col-xl-10 tareas"> 
                <p>
                    <span id="tr">Tareas realizadas</span><br>
                    <span>•  Limpiar, cortar y pelar verduras.</span><br>
                    <span>•  Mezclar ingredientes.</span><br>	
                    <span>•  Orden y revisión de las cámaras de carne, verduras y producción.</span><br>
                    <span>•  Apoyo en el despacho.</span>
                 </p>
                </div>
           
        </ul>
        <ul>
            <li>
                <h1>CLUB BOCA JUNIORS BERMEJO </h1> | 
                <h3>Preparador Físico - pasantías (2018)</h3>
            </li>
                <p> 
                <span id="tr">Tareas realizadas</span><br>
                <span>•  Coordinación y orden de actividades de grupos deportivos.</span> <br>
                <span>•	Preparación física.</span>
                 </p>
        </ul>
    </div>

</div>
