<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="87"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#ff8000'"
            [titleFontSize]="'2.5em'"
            [subtitle]="'Toca Aqui para ver'"
            [showSubtitle]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#ff8000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="91"
            [radius]="80"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'#4DA6FF'"
            [titleFontSize]="'2.5em'"
            [subtitle]="'Toca Aqui para ver'"
            [showSubtitle]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4DA6FF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="80"
            [showUnits]="false"
            [title]="'JAVASCRIPT'"
            [titleColor]="'yellow'"
            [titleFontSize]="'1.5em'"
            [subtitle]="'Toca Aqui para ver'"
            [showSubtitle]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="80"
            [showUnits]="false"
            [title]="'TYPESCRIPT'"
            [titleColor]="'#0044CC'"
            [titleFontSize]="'1.5em'"
            [subtitle]="'Toca Aqui para ver'"
            [showSubtitle]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#0044CC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="10"
            [radius]="80"
            [showUnits]="false"
            [title]="'BOOTSTRAP'"
            [titleColor]="'#AA00FF'"
            [titleFontSize]="'1.5em'"
            [subtitle]="'Toca Aqui para ver'"
            [showSubtitle]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#AA00FF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [showUnits]="false"
            [title]="'ANGULAR'"
            [titleColor]="'white'"
            [titleFontSize]="'1.5em'"
            [subtitle]="'Toca Aqui para ver'"
            [showSubtitle]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [lazy]="true"
        ></circle-progress>
    </div>


</div>
