<div class="row">
    <div class="container">
      <div class="logo d-flex justify-content-between">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes d-flex " >
        <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
        <a href=""><img src="../../../assets/twitter.png" id="twitter"></a>
        <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
        <a href=""><img src="../../../assets/github.png" id="github"></a>
        <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
        <div class="col-md-3 boton">
          <button type="button" class="btn btn-outline-primary me-2">Editar</button>
        </div>
    </div>
    </div>
</div>

